{% extends '_base.html' %}
{% load static %}
{% block body %}
    <header class="masthead" style="background-image:url('{% static 'img/post-bg.jpg' %}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">POST.SUBTITLE (TB. Implemented)</h2>
                        <span class="meta">
                            Posted on {{ post.created_at|date:'F d, Y' }}
                            {% if post.updated_at|date:'F d, Y' != post.created_at|date:'F d, Y' %}
                            <br>Last updated on {{ post.updated_at }}
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto" id="post-content"></div>
            </div>
        </div>
    </article>
    <script src="{% static 'node_modules/showdown/dist/showdown.js' %}"></script>
    <script>
        var converter = new showdown.Converter();
        var html = converter.makeHtml(`{{ post.content|escapejs }}`);
        document.getElementById('post-content').innerHTML = html;
    </script>
{% endblock %}